.card {
  margin-left: auto !important;
  margin-right: auto !important;
  padding : 2%;
}

h5 {
  text-align: center;
}

.container {
  margin-top: 5% !important;
}

.nav{
    background-color: #14213d !important;
}
.nav-wrapper{
    margin: 0 10%;
}
.nav-wrapper a{
    font-family: sans-serif;
    font-size: 20px;
}

nav {
  padding: 0 5% !important;
}

.nav-wrapper a {
  font-size: 18px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.body1 {
    position: relative;
    background-size: cover;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 2;
}
.body1 a{
    margin-left: 5%;
    color: #124559;
    font-weight: 700;
    font-size: 15px;
    font-family: sans-serif;
}
img {
    position: absolute;
    opacity: 0.9;
}
.para {
  text-align: left;
  margin: auto 0;
  font-family: sans-serif;
  color: white;
  padding: 5% 0;
  position: relative;
}

.para h2 {
  margin-top: 5% !important;
  margin-left: 5%;
  font-weight: 700;
}

.para p {
  font-size: 20px;
  width: 60%;
  margin-left: 5%;
  /* margin: 2% auto; */
  /* text-align: center; */
}

.card p{
    text-align: justify;
}

.card img {
  position: absolute;
  top: 0;
  height:100% ;
}
#coff1 {
  width: 100%;
  position: relative;
}

#whyus p{
  text-align: justify;
}

#whyus {
  text-align: center;
  padding-bottom : 20px;
  color : #14213d;
  font-weight : 600;
}

#textarea2 {
  color : white;
}
.page-footer{
  margin-top: 5%;
}
