
.card {
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 2%;
    max-width: 900px !important;
}

h5 {
    text-align: center;
}

.container {
    margin-top : 5% !important;
}
.nav{
    background-color: #14213d !important;
}
.nav-wrapper{
    margin: 0 10%;
}
.nav-wrapper a{
    font-family: sans-serif;
    font-size: 20px;
}

.indexx{

}