.card {
  margin-left: auto !important;
  margin-right: auto !important;
  padding: 2%;
  max-width: 900px !important;
}

h5 {
  text-align: center;
}

.container {
  margin-top: 5% !important;
}

nav {
  padding: 0 5% !important;
}

.nav-wrapper a {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

.body1 {
    position: relative;
    background-size: cover;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0.9;
}
img {
    position: absolute;
    opacity: 0.5;
    height : 120%;
}
.para {
  text-align: center;
  margin: auto 0;
  font-family: sans-serif;
  color: #145b07;
  padding: 5% 0;
  position: relative;
}

.para h2 {
  margin-top: 5% !important;
  font-weight: 700;
}

.para p {
  font-size: 20px;
  width: 60%;
  margin: 2% auto;
  text-align: center;
}
